@require 'nib'
@require '../node_modules/yorha/src/consts.styl'

monitor()
  @media screen and (max-width: 768px)
    {block}

print()
  @media print
    {block}

.noprint
  +print()
    display none

+print()
  for $n in (1..6)
    h{$n}
      font-size (1.5 - + $n / 12) em
      margin 0.5em 0
  blockquote
    margin-top 0.5em
    margin-bottom 0.5em

.top
  display flex
  flex-flow row nowrap
  align-items center
  +monitor()
    flex-flow column

.title
  flex 1 0 auto
  margin 0
  margin-right 1rem
  +monitor()
    margin-right 0
    margin-bottom 1rem

.links
  margin 0
  padding 0
  list-style-type none
  text-align center
  > li
    display inline
    &:after
      content ' / '
    &:last-of-type:after
      content ''

$grid-padding = 1rem
.figure-grid
  display flex
  flex-flow row wrap
  justify-content space-between
  align-items stretch
  margin (- $grid-padding / 2)
  +print()
    margin 0
    flex-flow column nowrap
  > figure
    flex 2 2 20rem
    margin ($grid-padding / 2)
    +print()
      margin 0
      padding 0
      flex auto
    > figcaption
      +print()
        margin 0
        padding 0
        font-size 1em
    > .figure-content
      +print()
        margin 0
      > img
        height 15rem
        width 100%
        background-color $c-weak
        background-size cover
        background-position center
        +print()
          display none
      > hr
        +print()
          display none
      > ul
        +print()
          margin 0
          padding 0
          padding-left 1.5em
          font-size 0.85em
